<br>

<footer class="page-footer bg-dark text-light">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h5>Customer Services</h5>
        <ul>
          <li>
            <a href="#">Delivery Service</a>
          </li>
          <li>
            <a href="#">Term & Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <h5>About us</h5>
        Toby's Asian Market
      </div>
      <div class="col-6">
        <h5>Location</h5>
        Google Map
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">
    @ 2019 Copyright: Toby's Asian Market
  </div>
</footer>
